/*----------------------------------------------------------------------------------
------------------------------------welcome.blade.php--------------------------------
------------------------------------------------------------------------------------*/
.order-btn {
    height: 200px;
    width: 400px;
    font-size: 80px;
}

.magotaku-logo {
    margin-left: 20px;
}

img {
    background-attachment : fixed;
}

.foodImg {
    border-radius: 5%;
}

.slide-text > h3 {
    color: #ef5350;
}
.slide-text > p {
    font-weight: bold;
    color: #ef5350;
}